<!-- Hero section with layer parallax gfx -->
<section class="position-relative py-5">
<!-- Gradient BG -->
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary opacity-10"></div>
    <!-- Content -->
    <div class="container position-relative zindex-2 py-lg-4">
      
    </div>  
  </div>    
</section>
<!-- How it works (Steps) -->
<section class="container pt-4 pt-lg-0 pb-4 pb-lg-5">
  <h2 class="h1 text-center pb-3 pb-md-0 mb-md-5">このアプリでできる4 STEP</h2>
    <div class="steps">
      <div class="step pt-0 pt-md-3 pb-5">
        <h2>1</h2>
        <div class="step-body d-flex align-items-center ps-xl-5">
          <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
            <%= image_tag 'input.jpg', style: "width:306px;"%>
          </div>
          <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
            <h3 class="h4">テスト成績を記録する</h3>
            <p class="mb-0">テスト名、得点、最高得点、学習時間を入力して、自動的にテストの達成率が計算されます。</p>
          </div>
        </div>
      </div>
      <div class="step pt-0 pt-md-4 pb-5">
        <h2>2</h2>
        <div class="step-body d-flex align-items-center ps-xl-5">
          <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="lg">
            <%= image_tag 'my_graph.jpg', style: "width:306px;"%>
          </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="lg">
          <h3 class="h4">成長率をグラフで確認できる</h3>
          <p class="mb-0">過去のテスト成績が一目で分かるように、折れ線グラフで記録が表示されます。また、勉強時間と達成率の相関図も確認することができます。</p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <h2>3</h2>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
          <%= image_tag 'goal.jpg', style: "width:306px;"%>
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
          <h3 class="h4">目標を設定しよう</h3>
          <p class="mb-0">目標を設定することで、そのテストに対するモチベーションを高めることができます。</p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <h2>3</h2>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
          <%= image_tag 'comparison.jpg', style: "width:306px;"%>
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
          <h3 class="h4">自分がたてた目標と実際の結果を比較できる</h3>
          <p class="mb-0">目標と自分の結果を比較することで、自分の成長を目で見て感じることができます。</p>
        </div>
      </div>
    </div>
  </div>
</section>